.animation {
  height: 80vh;
  box-sizing: border-box;
  padding: 20px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  place-items: center;
  column-gap: 15px;
  position: relative;
}

/*
.shape{
    background-color: var(--yellow--);
    position: absolute;
    border-radius: 15px;
    width: 100px;
    height: 100px;
}

.one{
    bottom: -150px;
    left: 20px;
    animation: up 4s infinite;
}

.two{
    transform: scale(0.5);
    bottom: -150px;
    left: 200px;
    animation: up 4s infinite;
    animation-delay: 2s;
}

.three{
    bottom: -150px;
    left: 420px;
    animation: up 4s infinite;
}

.four{
    transform: scale(0.5);
    bottom: -150px;
    left: 620px;
    animation: up 4s infinite;
    animation-delay: 2s;
}

.five{
    bottom: -150px;
    left: 820px;
    animation: up 4s infinite;
}


@keyframes up{
    0%{
        bottom: -150px;
    }
    
    50%{
        bottom: 150px;
        transform: rotate(180deg);
        border-radius: 50%;
        opacity: 0.5;
    }
    
    100%{
        bottom: -150px;
    }
}
*/
.content {
  padding: 20px;
  color: var(--yellow--);
  font-family: var(--font--);
  font-size: 3rem;
  z-index: 2;
}

.content p {
  opacity: 0.5;
  font-size: 1rem;
  text-align: center;
}

.content h1:hover {
  color: white;
  filter: drop-shadow(5px 5px 10px var(--yellow--));
  transform: translateY(-5px);
}

/* .image img {
  position: absolute;
  left: 29%;
  bottom: -10%;
  z-index: 1;
  filter: drop-shadow(5px 10px 15px black);
} */

.image img {
  transform: scale(1.5);
  animation: showcase 2s linear infinite;
}

.image img:hover {
  filter: drop-shadow(5px 5px 10px var(--yellow--));
  transform: translateY(-5px);
}

@keyframes showcase {
  0% {
    transform: translateY(0px);
  }

  50% {
    transform: translateY(-5px);
  }

  100% {
    transform: translateY(0px);
  }
}

.hidden {
  opacity: 0;
  filter: blur(5px);
  transform: translateY(100%);
  transition: all 0.5s;
}

.show {
  opacity: 1;
  transform: translateY(0px);
  filter: blur(0px);
}

@media only screen and (max-width: 1300px) {
  .animation {
    grid-template-columns: 1fr 1fr;
  }
  .image {
    display: none;
  }
}

@media only screen and (max-width: 950px) {
  .animation {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;
  }
}
